*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: #fff700;
}
.inactive{
  color: #000000;
}

.star{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  font-size: 40px;
}